doctype html
html(ng-app='predots')
  head
    title PreDOTS

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // Define encoding
    meta(charset='utf-8')

    base(href="/")

    // Google material design icons - no bower support
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

    //-
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus

    // STYLES
    link(rel="stylesheet", href="/vendor/angular-material-expansion-panel/md-expansion-panel.css")
    link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
    link(rel="stylesheet", href="/vendor/angularjs-slider/rzslider.css")
    link(rel="stylesheet", href="/vendor/nvd3/nv.d3.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

    block styles

  body
    block body

    //-
      Client-side Templates
      ========================

      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.

      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).

      To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Import templates from other directories
          + Use a different template engine (handlebars, jade, dust, etc.)
          + Internationalize your client-side templates using a server-side
            stringfile before they're served.

    // TEMPLATES
    script(type="text/javascript", src="/jst.js")
    // TEMPLATES END

    //-
      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    // SCRIPTS
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/d3/d3.js")
    script(src="/vendor/nvd3/nv.d3.js")
    script(src="/vendor/angular-animate/angular-animate.js")
    script(src="/vendor/angular-aria/angular-aria.js")
    script(src="/vendor/angular-material-expansion-panel/md-expansion-panel.js")
    script(src="/vendor/angular-material/angular-material.js")
    script(src="/vendor/angular-messages/angular-messages.js")
    script(src="/vendor/angular-nvd3/angular-nvd3.js")
    script(src="/vendor/angular-truncate/truncate.js")
    script(src="/vendor/angular-ui-router/angular-ui-router.js")
    script(src="/vendor/angular-websocket/angular-websocket.js")
    script(src="/vendor/angularjs-slider/rzslider.js")
    script(src="/vendor/angulartics-google-analytics/angulartics-ga.js")
    script(src="/vendor/angulartics/angulartics.js")
    script(src="/vendor/d3-v4/d3.js")
    script(src="/vendor/ng-file-upload/ng-file-upload.js")
    script(src="/vendor/SHA-1/sha1.js")
    script(src="/vendor/svg-pan-zoom/svg-pan-zoom.js")
    script(src="/js/analytics.js")
    script(src="/js/app.js")
    script(src="/js/chartTemplates.js")
    script(src="/js/controllers/AnalysisCtrl.js")
    script(src="/js/controllers/AppCtrl.js")
    script(src="/js/controllers/ChangeDatasetCtrl.js")
    script(src="/js/controllers/FeatureInfoCtrl.js")
    script(src="/js/controllers/FeatureListCtrl.js")
    script(src="/js/controllers/FeatureSubsetCtrl.js")
    script(src="/js/controllers/LoginCtrl.js")
    script(src="/js/directives/cornerMenu.js")
    script(src="/js/directives/densityPlot.js")
    script(src="/js/directives/featureMap.js")
    script(src="/js/directives/featureSliceVisualizer.js")
    script(src="/js/directives/filterControls.js")
    script(src="/js/directives/histogramPlot.js")
    script(src="/js/directives/searchBar.js")
    script(src="/js/directives/selectionCheckboxes.js")
    script(src="/js/directives/selectionSlider.js")
    script(src="/js/directives/sliceChart.js")
    script(src="/js/directives/sliceTable.js")
    script(src="/js/directives/slideFilter.js")
    script(src="/js/directives/timeSeriesPlot.js")
    script(src="/js/filters.js")
    script(src="/js/services/backendService.js")
    script(src="/js/services/scopeUtils.js")
    script(src="/js/services/systemStatus.js")
    script(src="/js/utils.js")
    // SCRIPTS END

