#analysis {
	.chart-holder {
		padding-left: 8px;
		padding-right: 8px;
		height: 150px;
		width: 200px;
	}
	.horizontal-padding {
		padding-left: 8px;
		padding-right: 8px;
	}
	input {
		width: 80px;
	}
}

