#analysis {
	.chart-holder {
		padding-left: 8px;
		padding-right: 8px;
		height: 150px;
		width: 200px;
	}
	.feature-column {
		width: 216px;
	}
	.horizontal-padding {
		padding-left: 8px;
		padding-right: 8px;
	}
	input.sliderbox {
		width: 80px;
	}
	md-checkbox.sliceCheckbox {
		padding-right: 8px;
	}
}

