// Stretch both the map and the overlays over the whole screen
#feature-map, #map-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
}

// Handle pointer events
#map-overlay {
	// disable all pointer events on the overlay except the windows
	// to allow the events to propagate to the feature map
	pointer-events: none;
}
.overlay-window {
	// enable the pointer events for this window
	pointer-events: auto;
}

// Style overlay
.left-pane {
	width: 320px;
	box-sizing: border-box;
}

.right-pane {
  width: 320px;
  box-sizing: border-box;
  pointer-events: auto;
}

md-card {
	&.overlay-window {
		margin: 0px;
		animation: slide 0.5s forwards;
	}
	md-content {
		background-color: white;
	}
}

#control-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;

  #loading-state {
    background-color: white;
  }
}

.bottom-right-controls {
  position: fixed;
  bottom: 0;
  right: 0;

  slide-filter{
    width: 350px;

    #slider {
      padding: 8px;
      height: 80px;
      box-sizing: border-box;

      background-color: white;
    }

    .md-padding {
      padding-right: 8px;
    }
  }

  #zoom-controls {
    padding-left: 8px;
    
  	> div {
  		background-color: white;
  	}

  	.md-icon-button {
  		margin: 0;
  	}

  }
}

#search {
  background-color: white;

  md-autocomplete-wrap {
    // we display our own drop shadow, remove this one
    box-shadow: none;

    input {
      padding-left: 4px;
    }
  }
}

#filterInfo {
  margin-top: 4px;
  background-color: white;

  md-chip {
    background-color: #C16F6F;

    md-icon {
      color: white;
    }
  }

  md-chips-wrap {
    box-shadow: 0 0px !important;
  }

  md-chips-wrap:focus {
    outline: none;
    border: 0;
  }

  p {
    font-size: 16px;
  }

  span {
    font-size: 18px;
    color: white;
  }
}
