#feature-info {
	.chart-holder {
		padding-left: 8px;
		padding-right: 8px;
		height: 200px;
		.chart {
			height: 100%;
			width: 100%;

			rect.nv-bar {
				.significant-loop (@i) when (@i > 0) {
					&.significant[significance='@{i}'] {
						fill: mix(@chartHighlightColor, @chartDefaultColor, min(@i + 20, 100));
					}
					.significant-loop(@i - 10);
				}
				.significant-loop (100);
				&.selected {
					fill: @chartSelectionColor !important;
				}
				&:hover {
					cursor: pointer;
				}
			}

			rect.highlight{
				pointer-events: none;
				fill-opacity: 0.5;
				fill: @chartSelectionColor;
				stroke: black;
				stroke-width: 0.5;
				stroke-dasharray: 3;
			}
		}
	}
}

