#feature-info {

  .md-medium-tall {
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    padding: 4px;

    .md-toolbar-tools {
      min-height: 36px;
      max-height: 36px;
      height: 36px;
    }
  }
}

