feature-slice-visualizer {
	.probability-distributions {
		height: 200px;
		width: 300px;
		display: block;
	}
	#feature-slice-distributions {
		p {
			margin: 0;
		}
	}
	.scatterChart {
		height: 320px;
		width: 300px;
		.nv-point {
			fill-opacity: 0.2 !important;
			stroke-opacity: 0.4 !important;
		}
	}

}
