feature-slice-visualizer {
	.histogram {
		height: 170px;
		rect.nv-bar {
			fill: @chartSelectionColor;
		}
	}
	.probability-distributions {
		height: 200px;
		display: block;
	}
	#feature-slice-distributions {
		p {
			margin: 0;
		}
	}
	.scatterChart {
		height: 320px;
	}

	.nv-series-0 .nv-point {
	  fill-opacity: 0.05 !important;
	  stroke-opacity: 0.1 !important;
	}
}
