// Style the feature map bubbles
#feature-map svg {
	width: 100%;
	height: 100%;

	g.feature {
		font-size: 12pt;

		&:hover {
			ellipse {
				fill: #E0E0E0 !important;
			}
			cursor: pointer;
		}

		ellipse {
			rx: 80;
			ry: 40;
			stroke: #BDBDBD;
			fill: #29B6F6;
		}

		text {
			text-anchor: middle;
		}

		&.is-target ellipse {
			fill: #E57373;
		}
	}
}
