feature-slice-visualizer {
	.probability-distributions {
		height: 200px;
		width: 300px;
		display: block;
	}
	#feature-slice-distributions {
		p {
			margin: 0;
		}
	}
	.scatterChart {
		height: 320px;
		width: 300px;
	}

	.nv-series-0 .nv-point {
	  fill-opacity: 0.05 !important;
	  stroke-opacity: 0.1 !important;
	}
}
