slice-chart {
  margin-left: 60px;
  margin-right: 20px;

  svg {
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;

    // Allow chart description to be seen
    overflow: visible;

    .chart {
      overflow: hidden;
    }

    rect {
      height: 10px;
      fill: @chartSelectionColor;
      fill-opacity: .75;
      &:hover {
        fill-opacity: 1;
        cursor: pointer;
      }
      &.selected {
        fill: @chartSelection2Color;
      }
    }

    text {
      font-size: 10px;
      &.selected {
        fill: #F44336;
      }

      &.scoreTitle {
        font-size: 14px;
        text-anchor: middle;
      }

      &.score {
        text-anchor: end;
      }
    }

    .scoreList{
      height: 100%;
    }
  }
}
