slice-chart {
  margin-left: 60px;
  margin-right: 20px;

  svg {
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;

    rect {
      height: 10px;
      fill: #FFB74D;
      &:hover {
        fill: #E0E0E0;
        cursor: pointer;
      }
    }
  }
}
