spectrogram img {
  width: 90%;
  height: auto;
  padding-bottom: 20px;
}

spectrogram .key {
  background: linear-gradient(to right, #ff0000 0%, #ffff00 20%, #00ff00 40%, #00ffff 60%, #0000ff 80%, #ff00ff 100%);
  width: 90%;
  height: 20px;
  padding-bottom: 10px;
}
