.md-padding(ng-cloak, layout)
  md-card#analysis.overlay-window(flex)
    md-toolbar
      .md-toolbar-tools
        md-button.md-icon-button(aria-label='Back', href='/')
          md-icon keyboard_arrow_left
        span Analyze features
    md-content(flex, layout='column')
      div(flex='noshrink', layout='row')
        md-content.feature-column(ng-repeat='feature in selectedFeatures')
          section
            md-subheader.md-primary Feature #[i {{feature.name}}]
            //time-series-plot(feature='feature')
          section
            md-subheader.md-primary Histogram
            histogram-plot(feature='feature')
            selection-slider(ng-if='!feature.is_categorical', sliders='sliders', feature='feature')
            selection-checkboxes(ng-if='feature.is_categorical', selected-ranges='selectedRanges', feature='feature')

      md-content.horizontal-padding
        slice-table(features='selectedFeatures', slice-click='updateFromSlice(slice)')
feature-slice-visualizer(target-feature='targetFeature',
  selected-features='selectedFeatures',
  ranges='selectedRanges',
  flex='60',
  ng-cloak,
  layout)
