md-menu
  md-button.md-icon-button(aria-label='Open menu', ng-click='$mdOpenMenu($event)')
    md-icon menu
  md-menu-content
    md-menu-item
      md-button(href='/selections', ng-click='$mdCloseMenu($event)')
        md-icon select_all
        | View selected features
    md-menu-item
      md-button(href='/change-dataset', ng-click='$mdCloseMenu($event)')
        md-icon list
        | Datasets
    md-menu-item
      md-button(href='/change-target', ng-click='$mdCloseMenu($event)')
        md-icon flare
        | Change target
    md-menu-item
      md-button(ng-click='logout()')
        md-icon power_settings_new
        | Logout
