.md-padding(layout)
	md-card#feature-slice-distributions.overlay-window(flex)
		md-toolbar
			.md-toolbar-tools
				span Visualize selected ranges
		md-content(layout='column')
			section
				md-subheader.md-primary Probability distributions
				.chart-holder
					nvd3.chart.probability-distributions(options='probabilityDistributions.options', data='probabilityDistributions.data')
			section(ng-if='selectedFeatures.length >= 2')
				md-subheader.md-primary Scatter plot
				.chart-holder(flex='noshrink')
					nvd3.chart.scatterChart(options='scatterChart.options', data='scatterChart.data', api='scatterChartApi')
				.horizontal-padding(layout='row', layout-margin)
					span(flex) Feature on y-axis
					md-select(ng-model='yFeature', ng-change='updateYFeature(yFeature)', aria-label='Feature on y-axis')
						md-option(ng-repeat='feature in selectedFeatures',
											ng-disabled='feature == xFeature',
											ng-value='feature').
							{{feature.name}}
				.horizontal-padding(layout='row', layout-margin)
					span(flex) Feature on x-axis
					md-select(ng-model='xFeature', ng-change='updateXFeature(xFeature)', aria-label='Feature on x-axis')
						md-option(ng-repeat='feature in selectedFeatures',
											ng-disabled='feature == yFeature',
											ng-value='feature').
							{{feature.name}}
