.md-padding(layout)
	md-card#feature-slice-distributions.overlay-window(flex)
		md-toolbar
			.md-toolbar-tools
				span Visualize selected ranges
		md-content(layout='column')
			section
				md-subheader.md-primary Probability distributions
				nvd3.chart.probability-distributions(options='probabilityDistributions.options', data='probabilityDistributions.data')
			section
				md-subheader.md-primary Scatter plot
				nvd3.chart.scatterChart(options='scatterChart.options', data='scatterChart.data', api='scatterChartApi')
