.md-padding.left-pane(ng-cloak, layout)
  md-card#feature-info.overlay-window(flex)
    md-toolbar.md-medium-tall
      .md-toolbar-tools
        md-button.md-icon-button(aria-label='Back', href='/')
          md-icon keyboard_arrow_left
        h2(md-truncate, flex) #[i {{feature.name}}]
      .md-toolbar-tools(layout-align='space-between begin')
        md-button.md-icon-button(ng-disabled='feature === targetFeature || filterParams.blacklist.contains(feature)', aria-label='Disable this feature', ng-click='disableFeature(feature)')
          md-tooltip Disable this feature
          md-icon block
        md-button.md-icon-button(ng-disabled='!canBeTarget(feature)', aria-label='Set feature as target', ng-click='setTarget(feature)')
          md-tooltip Set feature as target
          md-icon flare
        md-button.md-icon-button(ng-disabled='feature === targetFeature', aria-label='Add to analysis', href='/selections?select={{feature.name}}')
          md-tooltip Add feature for analysis
          md-icon add

    md-content(flex)
      section
        md-list
          md-list-item
            p Mean: {{feature.mean | d3format}}
          md-list-item
            p Variance: {{feature.variance | d3format}}
      section
        md-subheader.md-primary Time series preview
        time-series-plot(feature='feature')
      section
        md-subheader.md-primary Target classes densities
        density-plot(feature='feature', target-feature='targetFeature')
      section
        md-subheader.md-primary
          div(layout='row')
            | Spectrogram preview
            span(flex)
            a(href='https://en.wikipedia.org/wiki/Spectrogram', target='_blank') ?
              md-tooltip X-Axis: Time, Y-Axis: Frequency, Color: Amplitude
        spectrogram(feature='feature')
