.md-padding.left-pane(ng-cloak, layout)
	md-card#feature-list.overlay-window(flex)
		md-toolbar
			.md-toolbar-tools
				span Select new target from list
		md-content
			md-list
				md-list-item(ng-repeat='feature in features | orderBy: "name"', ng-click='setTarget(feature)')
					p {{feature.name}}
