md-card#feature-slice-visualizer.overlay-window(flex)
	md-toolbar
		.md-toolbar-tools
			h2
				span Visualize in value range [{{range[0] | number:2}}, {{range[1] | number:2}}]
			span(flex)
			md-button.md-icon-button(aria-label='Close', ng-click='close()')
				md-icon close
	md-content(flex, layout='row')
		.md-padding(flex='50', layout='column')
			nvd3.chart.histogram(options='histogram.options', data='histogram.data')
			slice-chart(chart-range='range', slices='feature.slices', on-slice-click='showProbabilityDistributions(slice)')
		.md-padding(flex='50')
			div(ng-show='selectedSlice')
				p.
					When {{feature.name}} is in value range
					[{{selectedSlice.range[0] | number:2}}, {{selectedSlice.range[1] | number:2}}]
					{{targetFeature.name}} is affected in the following
				nvd3.chart.probability-distributions(options='probabilityDistributions.options', data='probabilityDistributions.data')
