.md-padding.left-pane(ng-cloak, layout)
	md-card#feature-info.overlay-window(flex)
		md-toolbar
			.md-toolbar-tools
				md-button.md-icon-button(aria-label='Back', href='/')
					md-icon keyboard_arrow_left
				span Feature #[i {{feature.name}}]
		md-content(flex)
			section
				md-list
					md-list-item
						p Mean: {{feature.mean}}
					md-list-item
						p Variance: {{feature.variance}}
			section
				md-subheader.md-primary Time series preview
				.chart-holder
					nvd3.chart(options='lineChart.options', data='lineChart.data', api='lineChartApi')
			section
				md-subheader.md-primary Histogram
				.chart-holder
					nvd3.chart(options='histogram.options', data='histogram.data', api='histogramApi')
feature-slice-visualizer(ng-if='selectedRange', feature='feature', target-feature='targetFeature', range='selectedRange', \
						 				on-close='clearSelectedRange()', flex='60', ng-cloak, layout)
