.md-padding.left-pane(ng-cloak, layout)
	md-card#feature-info.overlay-window(flex)
		md-toolbar
			.md-toolbar-tools
				md-button.md-icon-button(aria-label='Back', href='/')
					md-icon keyboard_arrow_left
				span Feature #[i {{feature.name}}]
				span(flex)
				md-button.md-icon-button(aria-label='Add to analysis', href='/selections?select={{feature.name}}')
					md-icon add

		md-content(flex)
			section
				md-list
					md-list-item
						p Mean: {{feature.mean}}
					md-list-item
						p Variance: {{feature.variance}}
			section
				md-subheader.md-primary Time series preview
				time-series-plot(feature='feature')
			section
				md-subheader.md-primary Histogram
				histogram-plot(feature='feature')
