.md-padding.left-pane(ng-cloak, layout, ng-show='features.length > 0')
	md-card#feature-list.overlay-window(flex)
		md-toolbar
			.md-toolbar-tools
				span Feature List
		md-content
			md-list
				md-list-item(ng-repeat='feature in features', ng-click='setTarget(feature)')
					p {{feature.name}}
