md-expansion-panel
  md-expansion-panel-collapsed
    //(ng-click='$panel.expand()')
    md-title Collapsed
 
  md-expansion-panel-expanded 
    md-expansion-panel-header(ng-click='$panel.collapse()')
      md-title Expanded
 
    md-expansion-panel-content
      h4 Content