
div
  #content.login(layout="row" layout-align="center center" layout-fill)
    form(name='login' layout='column')
      h2 Login
      md-input-container
        input(ng-model='user.name', name='userName', type='text', placeholder='Username', ng-required='true' md-no-asterisk)
        div(ng-messages='login.userName.$error')
          div(ng-message='required') Your username is required
      md-input-container
        input(ng-model='user.password', type='password', placeholder='Password', ng-required='true', name='userPassword' md-no-asterisk)
        div(ng-messages='login.userPassword.$error')
          div(ng-message='required') Your password is required.
      md-button.md-raised.md-primary Login
