.horizontal-padding
  input(type='checkbox', 
    ng-model='selectedRanges[feature.id]',
    ng-repeat='category in feature.categories',
    ng-checked='isChecked(category)',
    ng-click="toggleCategory(category)")