table
  thead
    tr
      th Score
      th(ng-repeat='feature in features') Range of {{feature.name}}
  tbody
    tr(ng-repeat='slice in slices', ng-click='onSliceClicked({slice: slice})')
      td {{slice.deviation | number:4}}
      td(ng-repeat='feature in features')
        span(ng-if='slice.hasFeatureRange(feature)').
          [{{slice.getFeatureRange(feature).join(', ')}}]
